---
layout: default
bodyClass: page-post
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-10 col-lg-8 order-2 order-md-1">
        <h1>{{ page.title }}</h1>
        <p class="text-muted">{{ page.date | date: "%B %d, %Y" }} | By {{ page.author }}</p>
      </div>
    </div>
  </div>
</div>

<div class="container pt-4 pb-6">
  <div class="row justify-content-start">
    <div class="col-12 col-md-10 col-lg-8">
      <div class="post-content">
        {{ content }}
      </div>
      
      <div class="mt-5 pt-4 border-top">
        <a href="{{ '/blog' | relative_url }}" class="button button-primary">← Back to Blog</a>
      </div>
    </div>
  </div>
</div>
